@import url('https://fonts.googleapis.com/css2?family=Allison&family=Caveat&family=Herr+Von+Muellerhoff&family=Nothing+You+Could+Do&family=PT+Serif&family=Permanent+Marker&family=Pinyon+Script&family=Playfair+Display&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Raleway&display=swap'); /* logo font */

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.logo-font-raleway {
    font-family: 'Raleway';
}

.logo-font-istok {
    font-family: 'Istok';
}

.font-permanent-marker-cursive {
    font-family: 'Permanent Marker';
}

.font-nothing-you-could-do-cursive {
    font-family: 'Nothing You Could Do';
}

.font-pinyon-script-cursive {
    font-family: 'Pinyon Script';
}

.font-herr-von-cursive {
    font-family: 'Herr Von Muellerhoff';
}

.font-allison-cursive {
    font-family: 'Allison';
}

.font-rubik-sans {
    font-family: 'Rubik';
}

.font-caveat-cursive {
    font-family: 'Caveat';
}

.font-playfair-display-serif {
    font-family: 'PlayFair Display';
}

.font-pt-serif {
    font-family: 'PT Serif';
}

.color-saunguine-brown {
    color: #843434;
}

.color-mulled-wine {
    color: #433b5c;
}

.color-waterlooo {
    color: #8c829c;
}

.color-almond {
    color: #edd7c9;
}

.color-pearl-bush {
    color: #e8dfd5;
}

.color-quicksand {
    color: #c5a3a1;
}

.color-old-rose {
    color: #c27d87;
}

.color-dandelion {
    color: #FCD462;
}

.color-dark-dandelion {
    color: #f5b80f;
}

.bg-color-errie-black {
    background-color: #1a1a1a;
}

.bg-color-very-dark-gray {
    background-color: #313131;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(252, 212, 98, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.space-left-5x {
    margin-left: 5px;
}

.space-left-10x {
    margin-left: 10px;
}

.logo-wrapper {
    font-weight: 700;
    margin-bottom: -25px;
}

.logo-footer {
    display: flex;
    justify-content: right;
    font-weight: 200;
    font-size: 0.5em;
    padding-right: 10%;
}

.btn-close {
    display: flex;
    position: absolute;
    margin-left: 80%;
}

.nav-link {
    border-radius: 5px;
}

.nav-item > a {
    color: white;
}

.nav-item > a:hover {
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #FCD462;
}

nav {
    margin-top: 20px;
}

.section-first {
    display: flex;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
}

.img-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 70px;
    border-radius: 5px;
}

.section-first-gallery {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-size: 12px;
    color: gray;
}

.footer-text a {
    color: gray;
    text-decoration: none;
}

.footer-div {
    margin-top: auto;
}

.img-round-portrait {
    border-radius: 50%;
}

.section {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.btn-custom-gold {
    background-color: #f5b80f;
    border: solid 1px transparent;
    cursor: pointer;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Outfit';
    letter-spacing: 1px;
}

.btn-custom-gold:hover {
    background-color: transparent;
    color: #f5b80f;
    border: solid 1px #f5b80f;
}

.btn-custom-gray {
    background-color: transparent;
    color: #8c829c;
    border: solid 1px #8c829c;
    cursor: pointer;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Outfit';
    letter-spacing: 1px;
}

.btn-custom-gray:hover {
    background-color: #8c829c;
    color: black;
    border: solid 1px transparent;
}

.title-font-sz {
    font-size: 3em;
}

.small-font-sz {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

.custom-icon {
    width: 50px;
    margin: 20px;
}

.form-control {
    background-color: #1a1a1a !important;
    border-color: transparent !important;
    border-radius: 0px !important;
    color:#FCD462 !important;
    outline: solid 1px #f5b80f;
}

.form-control:focus {
    box-shadow: 0 0 5px white !important;
    border: transparent !important;
}

.form-control::placeholder {
    color: white !important;
}

.form-group {
    margin: 5px;
}

.contact-label {
    margin-bottom: 4px;
}

.text-justify {
    text-align: justify;
}